[package]
name = "mwa_giant_squid"
version = "0.4.0"
authors = ["Christopher H. Jordan <christopherjordan87@gmail.com>"]
edition = "2018"
license = "MPL-2.0"
readme = "README.md"
description = "Alternative MWA ASVO client code"
repository = "https://github.com/MWATelescope/giant-squid"
homepage = "https://github.com/MWATelescope/giant-squid"
exclude = [".github/*"]

[features]
default = ["bin"]
bin = ["anyhow", "simplelog", "structopt"]

[[bin]]
name = "giant-squid"
required-features = ["bin"]

[profile.release]
lto = true
opt-level = 'z'  # Optimize for size.
panic = 'abort'

[dependencies]
bytesize = "1.0.*"
lazy_static = "1.4.*"
log = "0.4.*"
prettytable-rs = "0.8.*"
reqwest = { version = "0.11.*", default-features = false, features = ["blocking", "cookies", "rustls-tls"] }
serde = { version = "1.0.*", features = ["derive"] }
serde_json = "1.0.*"
sha-1 = "0.9.*"
tee_readwrite = "0.1.*"
thiserror = "1.0.*"
zip = "0.5.*"

# Dependencies only for the binary.
anyhow = { version = "1.0.43", optional = true }
simplelog = { version = "0.10.0", optional = true }
structopt = { version = "0.3.22", optional = true }
